<?xml version="1.0" encoding="UTF-8"?>
<phpunit
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/6.5/phpunit.xsd"
        bootstrap="./vendor/autoload.php"
        backupGlobals="true"
        cacheTokens="false"
        colors="true"
        verbose="true">
    <php>
        <includePath>.</includePath>
        <server name="HTTP_HOST" value="http://localhost/"/>
        <server name="REQUEST_METHOD" value="GET"/>
    </php>
    <testsuites>
        <testsuite name="Testing Example">
            <directory>./tests</directory>
        </testsuite>
    </testsuites>
</phpunit>
