<?xml version="1.0" encoding="UTF-8"?>
<phpunit
        backupGlobals="true"
        colors="true"
        stopOnFailure="false"
        bootstrap="vendor/autoload.php">
    <php>
        <server name='HTTP_HOST' value='http://localhost'/>
        <server name='SERVER_NAME' value='http://pukoframework.id'/>
        <server name='SERVER_PORT' value='80'/>
        <server name='REMOTE_ADDR' value='127.0.0.1'/>
    </php>
    <testsuites>
        <testsuite name="Puko Framework Start Test">
            <directory suffix=".php">./tests</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">src</directory>
        </whitelist>
    </filter>
</phpunit>