<?xml version="1.0" encoding="UTF-8"?>
<phpunit
        backupGlobals="true"
        colors="true"
        stopOnFailure="false"
        bootstrap="vendor/autoload.php">
    <php>
        <server name='HTTP_HOST' value='http://localhost'/>
        <server name='SERVER_NAME' value='http://pukoframework.cf'/>
        <server name='SERVER_PORT' value='80'/>
        <server name='REMOTE_ADDR' value='127.0.0.1'/>
        <includePath>.</includePath>
        <ini name="foo" value="bar"/>
        <const name="foo" value="bar"/>
        <var name="foo" value="bar"/>
        <env name="foo" value="bar"/>
        <post name="foo" value="bar"/>
        <get name="foo" value="bar"/>
        <cookie name="foo" value="bar"/>
        <server name="REQUEST_SCHEME" value="localhost"/>
        <server name="SERVER_NAME" value="pukoframework"/>
        <files name="foo" value="bar"/>
        <request name="foo" value="bar"/>
    </php>
    <testsuites>
        <testsuite name="Puko Framework Start Test">
            <directory suffix=".php">./tests</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">src</directory>
        </whitelist>
    </filter>
</phpunit>